# Database
DATABASE_URL="postgresql://username:password@localhost:5432/famtree?schema=public"

# AWS Cognito
COGNITO_USER_POOL_ID="ap-northeast-2_xxxxxxxxx"
COGNITO_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxx"
COGNITO_REGION="ap-northeast-2"

# Environment
NODE_ENV="dev"
PORT=3000
